* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  font-size: x-large;
}

h1 {
  margin-top: 5%;
  text-align: center;
}

button {
  background-color: white;
  border: black solid 10px;
  padding: 30px;
  font-weight: bold;
  font-size: inherit;
  border-radius: 30px;
}
button:hover {
    cursor:pointer;
    background-color: gray;
}

img {
  width: 14%;
  margin-left: 90px;
  margin-right: 90px;
}

.score-container {
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-content: center;
  width: 40%;
  margin-left: 30%;
}

.p-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.t-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.img-border {
    border: gray solid 10px;
    border-radius: 30px;
    padding: 10px 0;
}
.button-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-left: 30%;
  margin-top: 5%;
  width: 40%;
}

